SECRET_KEY='some_secret'
DEBUG=1

#CORS
CORS_ORIGIN_ALLOW_ALL=0
CORS_ORIGIN_WHITELIST=http://localhost:3000

#DB_SETTINGS
DB_HOST=db
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

#DOCS
DOCS_TITLE="Secret Santa API"
DOCS_VERSION=v1
DOCS_DESCRIPTION="Sample Description"
DOCS_TERMS_OF_SERVICE=https://www.google.com/policies/terms/
DOCS_CONTACT=contact@secret_santa.local
DOCS_LICENSE="BSD License"

#CELERY
CELERY_BROKER_URL="redis://127.0.0.1:6379/0"

#EMAIL
EMAIL_PORT=587
EMAIL_HOST_USER="sample@gmail.com"
EMAIL_HOST_PASSWORD="some_password"
EMAIL_USE_SSL=0
